/* Define font size */
$font-size-extra-small:     12px;
$font-size-small:           14px;
$font-size-normal:          15px;
$font-size-default:         16px;
$font-size-standard:        18px;
$font-size-lg:              20px;
$font-size-larger:          24px;
$font-size-xl:              32px;
$font-size-xs:              12px;


// FIXME: Update this current color to style guide
$cl-black: #000;
$cl-gray: #ccc;
$cl-green: #00581e;
$cl-white: #fff;
$cl-saffron: #f7b308;

$drawer-width: 259.67px;