@font-face {
  font-family: "merriweather";
  src: url("../../static/fonts/Merriweather-Bold.ttf") format("ttf");
  src: url("../../static/fonts/Merriweather-BoldIt.ttf") format("ttf");
  src: url("../../static/fonts/Merriweather-Italic.ttf") format("ttf");
  src: url("./../../static/fonts/Merriweather-LightIt.ttf") format("ttf");
  src: url("./../../static/fonts/Merriweather-Regular.ttf") format("ttf");
  src: url("./../../static/fonts/Merriweather-UltraBdIt.ttf") format("ttf");
}

/* Common */
body {
  @extend %font-main;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  list-style-type: none;
}
